body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #686de0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}

.form {
	background-color: #4834d4;
	border: none;
	height: 320px;
	width: 320px;
	text-align: center;
    border-radius: 20px;
}



.formInput {
	background: #f1f1f1;
	height: 55px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	width: 270px;
	margin: 20px auto 0 auto;
}

.formInput i {
	font-size: 17px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	padding-right: 10px;
}

.formInput input {
	flex: .7;
	background: #f1f1f1;
	border: none;
	outline: none;
	font-size: 17px;
}

.send {
	border: none;
	color: #30336b;
	background: #f9ca24;
	width: 270px;
	height: 45px;
	font-size: 18px;
	margin-top: 25px;
	outline: none;
}

